node_modules/**/*
.DS_Store
scripts/.RData
scripts/.Rhistory
.idea
back-end/node_modules/**/*
.env
.env*
openshift-project-params.env

# Yarn related, from official doc (https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions