doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://d3js.org/d3.v5.js')
    script(src='https://d3js.org/d3-fetch.v1.min.js')
  body
    block content
    script(src='/javascripts/forest.js')