@import "colors.scss";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body{
  overflow-y: auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.selectData{
  width:100%;
  margin: 0 auto;
}
.connectedPanel{
  text-align: left;
  background-color: aliceblue;
  border-radius: 12px;
  padding: 22px;

  ul{ margin-left:10px; }
}
.mainContainer{
  flex: 1;
  margin-bottom: 60px;

  h3{
    margin: auto;
  }
}

#nav{
  border-bottom: 1px solid $nileblue;
  padding: 10px!important;
  display: flex;
  justify-content: space-between;

  //.navbar-brand{
  //  margin-left: 1rem;
  //}
  //.navbar-toggler{
  //  margin: 0.5rem;
  //  border: 1px solid $nileblue;
  //  .navbar-toggler-icon {
  //    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2371C3C6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  //  }
  //}
  //
  //#nav-collapse{
  //  justify-content: space-between;
  //
  //  &.show{
  //    border-top:1px solid $nileblue;
  //  }
  //}

}

.legendContainer{
  margin: 30px auto;
  text-align: left;
}
#ToggleController{
  list-style: none;
  font-size: 16px;

  .siteIcon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    //border: 1px solid #000000;
    border-radius: 50%
  }

}

#backBtn{
  margin: 10px 20px 0 20px;
}

.selectData{
  text-align: left;
}

#site_checkbox_group{
  margin-left: 30px;
}

