@import "colors.scss";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body{
  overflow-y: auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContainer{
  flex: 1;
  margin-bottom: 60px;

  h3{
    margin: auto;
  }
}

#nav{
  border-bottom: 1px solid $nileblue;
  padding: 0!important;

  .navbar-brand{
    margin-left: 1rem;
  }
  .navbar-toggler{
    margin: 0.5rem;
    border: 1px solid $nileblue;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2371C3C6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
  }

  #nav-collapse{
    justify-content: space-between;

    &.show{
      border-top:1px solid $nileblue;
    }
  }

}


