@import "colors.scss";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body{
  overflow-y: auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.selectData{
  width:60%;
  margin: 0 auto;
}
.mainContainer{
  flex: 1;
  margin-bottom: 60px;

  h3{
    margin: auto;
  }
}

#nav{
  border-bottom: 1px solid $nileblue;
  padding: 0!important;

  .navbar-brand{
    margin-left: 1rem;
  }
  .navbar-toggler{
    margin: 0.5rem;
    border: 1px solid $nileblue;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2371C3C6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
  }

  #nav-collapse{
    justify-content: space-between;

    &.show{
      border-top:1px solid $nileblue;
    }
  }

}

.legendContainer{
  margin: 30px auto;
  text-align: left;
}
#ToggleController{
  list-style: none;
  font-size: 16px;

  input{
    margin-right: 4px;
  }

  .checkbox-button {
    cursor: pointer;
    font-weight: normal;
  }

  input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }

  input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid #000000;
    border-radius: 0;
    outline: 0;
    background-color: transparent;
  }

  .checkbox-button__input {
    opacity: 0;
    position: absolute;
  }

  .checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 1px solid #000000;
    border-radius: 50%
  }

  .checkbox-button__input:checked + .checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  #lightblue:checked + .checkbox-button__control:after{
    background-color: lightblue;
  }
  #blue:checked + .checkbox-button__control:after{
    background-color: blue;
  }
  #green:checked + .checkbox-button__control:after{
    background-color: green;
  }
  #lightgreen:checked + .checkbox-button__control:after{
    background-color: lightgreen;
  }
  #black:checked + .checkbox-button__control:after{
    background-color: black;
  }
}

