doctype html
html
  include head.pug
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    nav
      a(href='/') /home
      a(href='/sites') /sites (json)
      a(href='/exec?cmd=mean&resourceType=patient&resourceAttribute=age') /exec (json)
      a(href='/explorer') /explorer

    header
      h1= title

    #content
      block content

    footer
      div Developed by CHUM and the MCHI, 2020