@import "colors.scss";
@import "query-builder.css";
@import "query-builder_add.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";

html, body{
  overflow-y: auto;
}
@media (min-width: 1400px){
  .container {
    max-width: 1400px;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.home{
  .cardContainer{
    margin:10px 0;
  }
  .title{
    color: #464646;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
.selectData{
  width:100%;
  margin: 20px auto;
}

.selectContainer, .resultContainer {
  margin-top: 20px;
  border: 1px solid #e8e8e8;

  .panelTitle {
    margin: 10px;
    font-weight: bolder;
  }

  .selectionPanel, .resultPanel {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 5px;

    .subPanel{
      margin-bottom: 10px;
    }

    button {
      border: 1px solid #cdcdcd;
      border-radius: 4px;
      padding: 5px;
      margin: 5px;
    }

    .nav-link{
      display: flex;
    }

    .closeBtn{
      display: none;
    }
    .active{
      .closeBtn{
        display: block;
        color: #D9534F;
        font-weight: bold;
        margin-left: 10px;
      }
    }
  }
}

.selectionPanel select{
    border:1px solid #efefef;
    padding: 3px;
}

.submit-btn{
  margin: auto;

  .btn-success:disabled{
    cursor: unset;
  }
}
.connectedPanel{
  text-align: left;
  background-color: aliceblue;
  border-radius: 12px;
  padding: 22px;

  .siteList{
    padding-top: 0;
    padding-bottom: 0;
  }
  ul{
    margin-left:10px;
    margin-bottom: 8px;
  }
  li { padding-left:5px; }
  li.ok{ list-style-type: "\02713"; }
}
.mainContainer{
  flex: 1;
  margin-bottom: 60px;

  h3{
    margin: auto;
  }
  &.slim{
    margin-bottom: 0;
  }
}

#nav{
  border-bottom: 1px solid $nileblue;
  padding: 10px!important;
  display: flex;
  justify-content: space-between;

  //.navbar-brand{
  //  margin-left: 1rem;
  //}
  //.navbar-toggler{
  //  margin: 0.5rem;
  //  border: 1px solid $nileblue;
  //  .navbar-toggler-icon {
  //    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2371C3C6' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  //  }
  //}
  //
  //#nav-collapse{
  //  justify-content: space-between;
  //
  //  &.show{
  //    border-top:1px solid $nileblue;
  //  }
  //}

}

#langBtn{
  margin: auto 15px;

  background: linear-gradient(to bottom, $orange 0%, $orange 100%) repeat-x 0 100%;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
  font-weight: bold;

  &:hover{
    a{
      color: #fff;
    }
    background-size: 4px 50px;
  }

}

.legendContainer{
  margin: 30px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &.horizontal{
    margin: auto;
    .ToggleController{
      display: flex;
      justify-content: flex-start;
      flex-flow: wrap;

      .site{
        margin: 0 10px;

        .siteItem{
          width: max-content;
        }
      }
    }
  }
}
.ToggleController {
  list-style: none;
  font-size: 16px;

  .siteItem {
    cursor: pointer;
  }

  .siteIcon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    //border: 1px solid #000000;
    border-radius: 50%
  }
  .siteIcon.Mean{
    width: 4px;
    border-radius: 2px;
    margin-left: 7px;
    margin-right: 19px;
  }

  .siteItem:hover {
    .siteIcon {
      width: 18px;
      height: 18px;
    }
    .siteIcon.Mean {
      width: 5px;
      height: 18px;
    }
    .siteLabel {
      font-weight: bold;
    }
}

}

#backBtn{
  margin: 10px 20px 0 20px;
}

.selectData{
  text-align: left;
}

#site_checkbox_group{
  margin-left: 30px;
}
.options{
  margin: 20px auto;
}

.tableTitle{
  font-weight: bold;
  margin: 10px 0;

  .tableIdx{
    color:#7c7c7c;
    margin-right: 10px;
  }
}

@media (max-width: 992px){
  #nav, .navbar{
    padding-bottom: 0!important;
  }
  .nav-link{
    padding-left: 3px!important;
    padding-right: 3px!important;
  }
}
